{% if app.session.get('username')!=null %}
<form method="post" name="add_question" id="add_question" action="">
<input type="hidden" name="id" value="{{ question.id }}" />
<input type="hidden" name="stepId" value="{{ stepId }}" />
  <div class="form-row">
    
    <div class="form-group col-md-6">
      <label for="active">Active</label>
      <input type="checkbox" class="form-control" id="active" name="active" placeholder="active" {{question.active ? 'checked' : ''}}>
    </div>
    <div class="form-group col-md-6">
      <label for="question_type">Question Type</label>
      <select class="form-control" id="question_type" name="question_type" placeholder="question type">
      <option value="text" {% if question.getQuestionType() == 'text'  %} selected {% endif %}}>free text</option>
        <option value="options" {% if question.getQuestionType() =='options' %} selected {% endif %}}>options</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="question_text">Question text</label>
    <textarea type="text" class="form-control" id="question_text" name="question_text" placeholder="question text">{{ question.getQuestionText() }}</textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
        <button type="button" class="btn btn-primary" onclick="$(this).children().attr('class', 'fa fa-refresh fa-spin fa-1x fa-fw');$.post('{{ path('questions_update') }}', $( '#add_question' ).serialize(),function(data){$('#content_edit_modal_').html(data);$('#span_update').attr('class', 'fa fa-floppy-o');} );">
        Save <span id="span_update" class="fa fa-floppy-o" aria-hidden="true"></span>
        </button>
    </div>
    <div class="form-group col-md-10">
    {% if msg !='' %}
        <div class="alert alert-{{ msg_class }}"  role="alert">{{ msg }} 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    </div>
  </div>
</form>
{% endif %}